fastapi
uvicorn
ollama
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
SQLAlchemy
alembic
langchain
langchain-core
langchain-ollama
langchain-chroma
pypdf
chromadb
pytest
langchain-community
pydantic-settings